{{ if config:app:debug is true }}<!-- 👋 resources/views/partials/list/list-video.antlers.html -->{{ /if }}


{{#
  Example usage:
  {{ partial:list/list-video card_type="card" limit="3" }}
#}}

{{ $filter_tags = tags ? ((tags | is_string) ? tags : (tags | pluck:slug | join('|'))) : null }}

{{ collection:videos
    sort="date:desc"
    :taxonomy:tags="$filter_tags"
    limit="{ limit ?? 3 }"
    as="items"
}}
{{ if items }}
<div class="{{ grid_classes ?? 'grid grid-cols-1 md:grid-cols-3 gap-8' }}">
  {{ items }}
  {{ partial src="cards/{card_type ?? 'card-video'}" }}
  {{ /items }}
</div>
{{ /if }}
{{ /collection:videos }}
