<footer class="bg-linear-to-b from-red-900 to-red-950 text-white py-8 flex flex-col items-center justify-center">

    {{ if brand:logo }}
    <div class="w-32 lg:w-64">
        <img src="{{ glide :src="brand:logo" }}" alt="{{ brand:name }}" class="w-full h-full object-cover">
    </div>
    {{ /if }}


    <nav class="flex flex-row flex-wrap items-start justify-start gap-8 w-full my-8 fill-white">
        {{ partial:social }}

        <a href="/feed" class="hidden">
            <span class="sr-only">RSS</span>
            {{ svg src="rss" class="fill-orange-400 hover:fill-red-600 duration-300 size-8 " }}
        </a>

    </nav>

    {{ if footer:copyright }}
    <div class="text-sm text-center mt-8">{{ footer:copyright }}</div>
    {{ /if }}

    {{ if footer:text }}
    <div class="pagewidth prose-white">{{ footer:text }}</div>
    {{ /if }}

</footer>