{{ if config:app:debug is true }}<!-- 👋 resources/views/partials/_social.antlers.html -->{{ /if }}\n{{ iconcss = 'fill-amber-300 hover:fill-amber-100 size-8' }}


{{ if some:bsky }}
<a href="{{ some:bsky }}" class="block">
    {{ svg src="bluesky" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:github }}
<a href="{{ some:github }}" class="block">
    {{ svg src="github" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:facebook }}
<a href="{{ some:facebook }}" class="block">
    {{ svg src="facebook" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:instagram }}
<a href="{{ some:instagram }}" class="block">
    {{ svg src="instagram" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:threads }}
<a href="{{ some:threads }}" class="block">
    {{ svg src="threads" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:discord }}
<a href="{{ some:discord }}" class="block">
    {{ svg src="discord" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:linkedin }}
<a href="{{ some:linkedin }}" class="block">
    {{ svg src="linkedin" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:mastodon }}
<a href="{{ some:mastodon }}" class="block">
    {{ svg src="mastodon" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:soundcloud }}
<a href="{{ some:soundcloud }}" class="block">
    {{ svg src="soundcloud" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:twitch }}
<a href="{{ some:twitch }}" class="block">
    {{ svg src="twitch" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:youtube }}
<a href="{{ some:youtube }}" class="block">
    {{ svg src="youtube" class="{{ iconcss }}" }}
</a>
{{ /if }}

{{ if some:patreon }}
<a href="{{ some:patreon }}" class="block">
    {{ svg src="youtube" class="{{ iconcss }}" }}
</a>
{{ /if }}
