{{ if config:app:debug is true }}<!-- 👋 resources/views/calendar_feed.antlers.html -->{{ /if }}BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//{{ brand:name ?? 'Statamic' }}//NONSGML Events//EN
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-CALNAME:{{ brand:name ?? 'Statamic' }} Events
{{ collection:events }}
BEGIN:VEVENT
UID:{{ id }}@{{ config:app:url | explode('//') | last }}
DTSTAMP:{{ now format="Ymd\THis\Z" }}
DTSTART:{{ event_start format="Ymd\THis\Z" }}
{{ if event_end }}DTEND:{{ event_end format="Ymd\THis\Z" }}{{ /if }}
SUMMARY:{{ title }}
DESCRIPTION:{{ teaser | strip_tags }}
URL:{{ permalink }}
END:VEVENT
{{ /collection:events }}
END:VCALENDAR