{{ if config:app:debug is true }}<!-- 👋 resources/views/layout.antlers.html -->{{ /if }}

<!doctype html>
<html lang="{{ site:short_locale }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.webmanifest">
    {{ if brand:browser_color }}
    <meta name="theme-color" content="{{ brand:browser_color }}">
    {{ /if }}
    {{ partial:head/seo }}
    {{ partial:head/verification }}
    {{ partial:head/icon }}
    {{ feedamic }}
    {{ settings:header_scipts }}
    {{ vite src="resources/js/site.js|resources/css/site.css" }}

  </head>

  <body class="flex flex-col h-screen bg-linear-to-r from-amber-100 to-white text-amber-800" x-data="{ openmenu: false }" :class="openmenu ? 'overflow-y-hidden' : ''">

    {{ partial:notifications/banner }}

    {{ partial:header }}

    <main id="main" tabindex="-1" class="flex flex-col flex-grow focus-visible:outline-0 lg:mt-0 mt-16">
      {{ template_content }}
    </main>

    {{ partial:footer }}

    {{ settings:footer_script }}
  </body>

</html>