<section class="pagewidth">
  {{ if title }}
  <h2 class="text-3xl font-bold mb-8 text-gray-900">{{ title }}</h2>
  {{ /if }}


  <div class="
      {{# Mobile layout classes #}}
      {{ if (layout_type_mobile ?? 'grid') == 'scroll' }}flex gap-2 flex-nowrap overflow-y-scroll snap-x relative{{ else }}grid {{ columns_mobile ?? 'grid-cols-1' }} gap-2{{ /if }}
      {{# Desktop layout classes #}}
      {{ if (layout_type_desktop ?? 'grid') == 'scroll' }}lg:flex lg:gap-2 lg:flex-nowrap lg:overflow-y-scroll lg:snap-x lg:relative lg:px-4{{ else }}lg:grid {{ columns ?? 'lg:grid-cols-3' }} lg:gap-4{{ /if }}
    ">

    {{ collection:events
            sort="event_date:asc"
            event_date:gte="{start_date ?? now}"
            event_date:lte="{end_date}"
            paginate="12"
            as="events"
        }}
    {{ events }}
    {{ partial:cards/card-event }}
    {{ /events }}


    {{ paginate }}
    {{ partial:_paginate }}
    {{ /paginate }}

    {{ /collection:events }}

</section>