{{ if config:app:debug is true }}<!-- 👋 resources/views/partials/components/hero_box.antlers.html -->{{ /if }}
  <div class="pagewidth">


  <div class="flex flex-col gap-2 lg:grid lg:grid-cols-12 lg:gap-4">

    {{ primary }}
    <div class="lg:col-span-8">
    {{ partial:cards/card-primary }}
    {{ /primary }}
    </div>

    <div class="lg:col-span-4 flex flex-col justify-between">
    {{ secondary }}
    {{ partial:cards/card-image-text }}
    {{ /secondary }}
    </div>

  </div>
  </div>
</section>
