{{ if config:app:debug is true }}<!-- 👋 resources/views/partials/components/images.antlers.html -->{{ /if }}
  <div class="pagewidth">


  {{ if title or text }}
  <article class="text-center max-w-prose mx-auto pb-4">
    {{ if title }}
    <h2 class="text-3xl lg:text-7xl font-display"> {{ title }}</h2>
    {{ /if }}
    {{ if text }}
    <div class="text-base max-w-prose mt-4"> {{ text }}</div>
    {{ /if }}
  </article>
  {{ /if }}

  {{ if layout == "grid" }}
  {{ partial:components/images/grid }}
  {{ elseif layout == "flow" }}
  {{ partial:components/images/overflow }}
  {{ elseif layout == "gallery" }}
  {{ partial:components/images/gallery }}
  {{ /if }}

  </div>
</section>
