{{ if config:app:debug is true }}<!-- 👋 resources/views/articles/article.antlers.html -->{{ /if }}


<article class="pagewidth text-amber-950 mt-8 ">

    <h1 class="text-7xl lg:text-8xl font-display text-balance break-all pb-12">{{ title }}</h1>

    {{ if teaser }}
    <div class="text-3xl lg:text-5xl mx-auto mb-4 text-amber-800 font-serif max-w-3xl">
        {{ teaser }}
    </div>
    {{ /if}}

    {{ if primary_image }}
    <div class="pb-4 drop-shadow-lg">
        <img src="{{ glide :src="primary_image" w="1200" fit="crop_focal" }}" alt="{{ primary_image:alt }}" class="w-full h-full object-cover" loading="eager" />
    </div>
    {{ /if }}

    {{ if markdown }}
    <div class="wysiwyg max-w-prose mx-auto">
        {{ markdown }}
    </div>
    {{ /if}}

    {{ if markdown_advanced }}
    <div class="wysiwyg max-w-prose mx-auto">
        {{ markdown_advanced }}
    </div>
    {{ /if}}

    {{ blocks }}
    {{ partial src="components/{type}" }}
    {{ /blocks }}
    {{# tags #}}
    {{ if tags }}
    <div class="max-w-prose mx-auto mt-8 flex flex-wrap gap-2">
        {{ tags }}
        <a href="{{ url }}" class="bg-amber-100 hover:bg-amber-200 text-amber-900 px-2 py-1 rounded text-sm transition-colors">{{ title }}</a>
        {{ /tags }}
    </div>
    {{ /if }}

    <aside class="flex flex-row gap-2 max-w-prose bg-amber-400">
        <time datetime="">
            {{ date iso_format="D MMMM YYYY" }}
            {{ date format="H:m" }}
        </time>

        {{ if author }}
        af
        {{ author }}
        <div>{{ name }}</div>
        {{ /author }}
        {{ /if }}
        </div>


    </aside>

</article>


Listing:
{{ partial:posts/listing limit="4" }}

{{ /partial:posts/listing }}