{{ if config:app:debug is true }}<!-- 👋 resources/views/category/show.antlers.html -->{{ /if }}

<section class="pagewidth">
  <header class="mb-16 text-center">
    <h1 class="text-5xl lg:text-7xl font-black text-gray-900 mb-6">
      {{ title }}
    </h1>
    {{ if markdown }}
    <div class="prose prose-xl mx-auto text-gray-500 leading-relaxed">
      {{ markdown }}
    </div>
    {{ /if }}
  </header>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
    {{ collection from="*" taxonomy:category="{slug}" sort="date:desc" paginate="12" as="items" }}
    {{ if no_results }}
    {{ /if }}

    {{ items }}
      {{ if blueprint == "event" }}
        {{ partial:cards/card-event }}
      {{ elseif blueprint == "video" }}
        {{ partial:cards/card-video }}
      {{ else }}
        {{ partial:cards/card }}
      {{ /if }}
    {{ /items }}

    {{ if paginate.total_pages > 1 }}
    {{ partial:_paginate }}
    {{ /if }}
    {{ /collection }}
  </div>
</section>