{{ if config:app:debug is true }}<!-- 👋 resources/views/partials/cards/_card-advent.antlers.html -->{{ /if }}

<article class="{{ card_width ?? '' }} shrink-0 snap-center ">
  <a href="{{ url }}" class="block">

    <div
      class="rounded-lg overflow-hidden shadow aspect-square text-white/50 bg-radial from-red-800 to-red-950 transition-all duration-300 hover:from-red-800 w-full text-8xl flex items-center justify-center font-display text-nowrap hover:rotate-2">
      {{ title | truncate:8 }}
    </div>

  </a>
</article>