{{ if config:app:debug is true }}<!-- 👋 resources/views/partials/cards/_card-sponsor.antlers.html -->{{ /if }}

<article class="@container group {{ card_width_mobile }} {{ card_width_desktop }} shrink-0 snap-center flex center-center">

  <a href="{{ link }}">

    {{# image #}}
    <div class="w-full overflow-hidden flex center-center bg-red-300">

      {{ if image_card ?? primary_image }}
      <img src="{{ glide :src="image_card ?? primary_image" w="800" fit="crop_focal" }}" alt="{{ image_card:alt ?? primary_image:alt }}" class="w-full h-full object-cover" loading="lazy" />
      {{ else }}
      <div
        class="aspect-square text-white/5 bg-radial from-red-800 to-red-950 transition-all duration-300 hover:from-red-800 w-full text-9xl flex items-center justify-center font-display text-nowrap">
        {{ title | truncate:8 }}
      </div>
      {{ /if }}
    </div>

  </a>
</article>