{{ if config:app:debug is true }}<!-- 👋 resources/views/partials/cards/_card-kalender.antlers.html -->{{ /if }}

<article class="@container group {{ card_width ?? '' }} shrink-0 snap-center bg-white hover:bg-amber-50 text-amber-900 rounded-lg overflow-hidden shadow h-full">

  <a href="{{ url }}" class="h-full flex flex-col">

    {{# image #}}
    <div class="w-full aspect-video rounded-t-lg overflow-hidden">
      {{ if image_card ?? primary_image }}
      <img src="{{ glide :src="image_card ?? primary_image" w="400" fit="crop_focal" }}" alt="{{ image_card:alt ?? primary_image:alt }}" class="w-full h-full object-cover" loading="lazy" />
      {{ else }}
      <div class="text-white/5 bg-radial from-red-800 to-red-950 transition-all duration-300 hover:from-red-800 w-full aspect-video text-9xl flex items-center justify-center font-display text-nowrap">
        {{ title | truncate:8 }}
      </div>
      {{ /if }}
    </div>



    <div class="text-base p-2 font-bold">{{ event_date format="j M H:i" }}</div>

    <div class="p-2">
      <h2 class="text-lg leading-5 lg:text-2xl/6 font-semibold pb-2 text-red-950">
        {{ title_card ?? title }}
      </h2>

      {{# teaser #}}
      {{ if  (teaser_card ?? teaser ?? markdown) }}
      <div class="text-sm lg:text-base/tight text-slate-800">{{ (teaser_card ?? teaser ?? markdown) | truncate:80 | strip_tags }}</div>
      {{ /if }}


    </div>
    {{# date #}}


  </a>
</article>
